---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

const notionPosts = await getCollection('notion')
---

<Layout>
  <ul>
    {
      notionPosts.map((p) => {
        const { slug, Name } = p.data.properties
        return (
          <li>
            <a href={`/blog/${slug}`}>{Name}</a>
          </li>
        )
      })
    }
  </ul>
</Layout>
